<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/headerOriginal') %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre_producto %></h2> 
			<p class="product-detail-description">
			<% if (locals.user && locals.user.id == producto.publicador.id) { %>

				<a class="editar" href="/product/product-add">Editar</a>
			
			<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen_producto %>" alt="foto del producto <%= producto.nombre_producto %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %> </p>
					<a class="product-detail-description" href="/users/profile/<%= producto.publicador.id %>">Publicado por <strong><%= producto.publicador.email %></strong></a>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

						<%for (let i = 0; i < producto.comentarios.length; i++) { %>
							<article>
							<img src="/images/users/<%= producto.comentarios[i].comentador.foto_perfil %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%= producto.comentarios[i].comentador.id %>"><%= producto.comentarios[i].comentador.email %> </a> </strong>
								<%= producto.comentarios[i].texto %></p>
							</div>
							</article>
						<% } %>

					</section>
					
					<form class="form" action="/product/product/<%= producto.id %>" method="POST">
					<input class="form-input" type="text" name="comment" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					<hr>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>