<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerOriginal') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container-products-wrapper">
		<div class="row contenedor-productos">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (var i = 0; i < productos.length; i++) { %>
				  <article class="bmw-card">
					<img src="/images/products/<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
					<h3><%= productos[i].nombre %></h3>
					<p><%= productos[i].descripcion %></p>
					<a href="/product/product/<%= [i+1] %>">Ver más</a>
				  </article>
			  <% } %>

		</div>
		</div>
			  


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>